@charset "UTF-8";



/*메인 메뉴바 */
	.menu_bar{
		width:100%;
		height:80px;
		box-sizing: border-box;
		text-align: center;
	}
	.menu_bar li{
		margin: 0 40px;
		display: inline-block;
		cursor: pointer;
	}
	.menu_bar li >a{
		display: block;
		color: #8a8a8a;
		font-size: 20px;
		height: 80px;
		line-height: 78px;
	}
	.menu_bar li .active{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	.menu_bar li>a:hover{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	
	/* 공지사항 전체 레이아웃 */
	.content_wrap{
	    position: relative;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    width: 1280px;
	    margin: 0 auto;
		
	}
	.main_content{
		margin: 100px auto 0;
	    box-sizing: border-box;
	    width: 100%;
	    min-height: 260px;
	}
	/* 공지사항 테이블 레이아웃 */
	h3.title{
		font-size: 22px;
		font-weight: 500;
	}
	table .notice{
		margin-top: 16px;
	    margin-bottom: 50px;
	    border-top: 2px solid #333;
	}
	table{
		width: 100%;
	    border-collapse: collapse;
	    table-layout: fixed;
	}
	/* 테이블 헤드 부분 */
	table th {
	    padding: 22px 0;
	    font-size: 19px;
	    font-weight: 500;
	    background-color: #f7f7f7;
	}
	th.category{
		width: 180px;
	}
	th.title{
		width: 900px;
	}
	th.date{
		width: 200px;
	}
	table tbody{
		border-bottom: 1px solid #d8d8d8;
	}
	/* 분류 부분 */
	table td {
		box-sizing: border-box;
		text-align: center;
		padding: 25px 0 ;
		font-size: 18px;
	}
	table .td_category{
		color: rgb(157 128 63);
	}
	table td.title{
		text-align:left;
	}
	table thead {
    	border-bottom: 1px solid #d8d8d8;
	}
	table tbody tr:first-child {
    	border-top: none;
	}
	table tbody tr {
	    border-top: 1px solid #e4e4e4;
	}
	.notice_title:hover{
		text-decoration:underline;
	}
	/*페이지 네이션*/
	.pagination_wrap{
		margin: 20px 0 40px;
		text-align: center;
		width: 100%;
	}
	.pagination{
		display: inline-block;
		vertical-align: middle;
	}
	.pagination_ul li{
		float: left;
	}
	.pagination_ul li a{
		width: 28px;
		margin: 0 11px;
	}
	/* 페이징 번호에 hover 효과 추가 */
	 .pagination_ul li.page-item a:hover {
	    text-decoration: underline;
	  }

  	/* 클릭된 페이지 번호에 색깔 입히기 */
	.pagination_ul li.page-item.active a {
	   color: rgb(157 128 63);
	   font-weight: 400; 
	}
	/*페이징 번호 크기*/
	.page-item{
		font-size: 25px;
	}
	/* 관리자 메뉴 css (admin 계정일때만 보임) */
	.admin_menu{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.admin_button{
		width: 130px;
	    height: 48px;
	    display: inline-block;
	    border-radius: 0;
	    border: 1px solid #d8d8d8;
	    background-color: #f7f7f7;
	    text-align: center;
	    line-height: 48px;
	    font-size: 16px;
	    font-weight:500;
	    color: #333;
	}
	.admin_delbutton{
	    border-radius: 0;
	    text-align: center;
	    line-height: 48px;
	    font-size: 16px;
	    color: #333;
	    margin-left:5px;
	}
	.admin_button:hover , .admin_delbutton:hover{
		color: rgb(157 128 63);
		font-weight: 600;
	}